.archway-section {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-top: var(--side-margin);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.archways {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.archways > *:not(:last-child) {
    margin-right: 2rem;
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .archway-section {
        --padding: calc(var(--side-margin) * 2);
        height: unset;
        padding: var(--padding) 0 var(--padding) 0;
        position: relative;
    }

    .archways {
        flex-direction: column;
        align-items: flex-start;
    }

    .archways > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: calc(var(--side-margin) * 1.5);
    }
}

@media (max-width: 768px) {
    .archways > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: calc(var(--side-margin) * 2);
    }
}