.field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.field-wrapper.errored > span {
    color: #FC735B;
}

.input-wrapper {
    --border-style: 1px solid var(--LL-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 106px;
}

input, select {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: none;
    border-top: var(--border-style);
    border-bottom: var(--border-style);
    outline: none;
    font-family: 'Rosalia';
    font-size: 2.9375rem;
    line-height: 1.2;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-calendar-picker-indicator {
    display: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input::placeholder, input[type=date] {
    color: rgba(35,35,35,0.5);
}

input[type=date].has-value{
    color: var(--LL-black)
}

.input-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8125rem;
    line-height: 1.2;
    cursor: pointer;
    border: var(--border-style);
    height: 100%;
    aspect-ratio: 1;
}

.input-wrapper button,  input, select {
    background-color: rgba(35,35,35, 0);
    transition: background-color 1s var(--easing);
}

.input-wrapper button:hover, input:focus-visible {
    outline: none;
    background-color: rgba(35,35,35, 0.05);
}

.field-wrapper.errored input, .field-wrapper.errored > .input-wrapper button, .field-wrapper.errored select {
    background-color: rgba(255,101,71, 0.3);
}

.field-wrapper > span {
    visibility: hidden;
}

.field-wrapper.errored > span {
    visibility: visible;
}