.step-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    align-self: flex-start;
}

.step-wrapper > div {
    width: fit-content;
    padding: 0 0.5rem;
    text-align: center;
    border: 1px solid var(--LL-black);
    transition: background-color 1s var(--easing), color 1s var(--easing);
}

.step-wrapper > div.complete {
    color: var(--LL-main);
    background-color: var(--LL-black);
}

@media (max-width: 768px) {
    .step-wrapper > span {
        font-size: 0.75rem;
        line-height: 1.2;
    }
}