.archway-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82.5%;
    position: relative;
    transition: all 1000ms var(--easing);
    cursor: pointer;
}

.archway-option:hover {
    height: 85%;
}

.archway {
    width: 100%;
    height: 100%;

    --shadow-color: rgba(35, 35, 35, 0.3);
    box-shadow: inset 0 0 96px 16px var(--shadow-color);

    border-top-left-radius: 32rem;
    border-top-right-radius: 32rem;

    overflow: hidden;
}

.archway > img {
    width: unset !important;
    height: unset !important;
    object-fit: cover;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    --shadow-color: rgba(35, 35, 35, 0.7);
    --bg-color: rgba(35, 35, 35, 0);
    box-shadow: inset 0 0 6rem 1rem var(--shadow-color);
    top: 0;
    left: 0;
    border-top-left-radius: 32rem;
    border-top-right-radius: 32rem;
    background-color: var(--bg-color);
    transition: all 600ms var(--easing);
}

.archway-option:hover .shadow {
    --shadow-color: rgba(35, 35, 35, 0);
    --bg-color: rgba(35, 35, 35, 0.3);
}

.archway-title-wrapper {
    overflow: visible;
}

.archway-title {
    font-family: "Rosalia";
    font-size: 2.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: visible;
}

.archway-content {
    display: none;
}

@media (max-width: 1200px) {
    .archway-title {
        font-size: calc(2.9375rem / 1.25);
    }
}

@media (max-width: 1000px) {
    .archway-option {
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
        cursor: auto;
    }

    .archway-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
    }

    .archway-content > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .archway-content span {
        font-family: Rosalia;
        line-height: 1.2;
        font-size: 5rem;
    }

    .archway {
        min-width: 25%;
        max-width: 25%;
        height: 100%;
        margin-right: calc(var(--side-margin) / 1.5);
    }

    .archway, .shadow {
        border-bottom-left-radius: 6rem;
    }

    .archway > img {
        width: 100% !important;
        height: 100vh !important;
        object-fit: cover;
    }

    .shadow {
        --shadow-color: rgba(35, 35, 35, 0.5);
        box-shadow: inset 0 0 3rem 0.5rem var(--shadow-color);
    }

    .archway-option:hover {
        height: 100%;
    }

    .archway-option:hover .shadow {
        --shadow-color: rgba(35, 35, 35, 0.7);
        --bg-color: rgba(35, 35, 35, 0);
    }

    .archway-title, .archway-title-wrapper {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        padding: var(--side-margin);
    }

    .archway {
        min-width: 25%;
        max-width: 25%;
        height: 100%;
        margin-right: calc(var(--side-margin));
    }

    .archway-content span {
        font-family: Rosalia;
        line-height: 1.2;
        font-size: 3.8125rem;
    }
}