footer {
    background-color: var(--LL-black);
    color: var(--LL-main);
    z-index: 10;
    margin: 0 calc(var(--side-margin) * -1);
    padding: var(--side-margin);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer > .other-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--side-margin);
}

footer > .other-info > .terms {
    display: flex;
}

footer > .other-info > .terms > *:not(:last-child) {
    margin-right: 2rem;
}

@media (max-width: 768px) {
    footer{
        height: fit-content !important;
    }

    footer > .other-info {
        align-items: flex-start;
    }

    footer > .other-info > .terms {
        display: flex;
        flex-direction: column;
    }

    footer > .other-info > .terms > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}