.initial-loader {
    color: var(--LL-main);
    display: flex;
}

.fancy-char {
    animation: loading-word 1s var(--easing);
    animation-iteration-count: infinite;
    animation-delay: calc(.07s * var(--i));
}

@keyframes loading-word {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -25%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}