.reservation-page {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
}

.reservation-page > section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--side-margin);
}

@media (max-width: 1200px) {
    .reservation-page > section {
        grid-template-columns: unset;
        grid-template-rows: fit-content 2fr 1fr;
    }
}

@media (max-width: 768px) {
    .reservation-page {
        align-items: flex-start;
        gap: 3rem;
    }

    .reservation-page > section {
        gap: 2rem;
    }

    .reservation-page > h5 {
        padding-right: 2.5rem;
    }
}