.reservation-page {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
}

.reservation-page > section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--side-margin);
}