button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    font-family: "DM Sans";

    padding: calc(1rem / 2) calc(1rem);

    font-family: "DM Serif Display", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: all ease 600ms;

    position: relative;

    z-index: 1;
    cursor: pointer;
}

button.icon {
    padding: calc(1rem / 2);
}

.light {
    --main-color: var(--LL-main);
    --accent-color: var(--LL-black);
}

.dark {
    --main-color: var(--LL-black);
    --accent-color: var(--LL-main);
}

.container {
    --swew-angle: 45deg;
    --extrude-distance: -0.25rem;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    width: 100%;
}

.container.dark {
    --main-color: var(--LL-black);
    --accent-color: var(--LL-main);
}

.container::after, .container::before {
    content: '';
    position: absolute;
    transition: all ease 600ms;
}

.container::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(-1 * var(--extrude-distance));;
    background-color: var(--accent-color);
}

.container::before {
    top: 0;
    right: 0;
    width: calc(-1.5 * var(--extrude-distance));
    height: 100%;
    background-color: var(--accent-color);
}

.container:hover::after {
    left: 0.125rem;
    transform: skewX(var(--swew-angle)) translateX(var(--extrude-distance));
}

.container:hover::before {
    top: 0.125rem;
    transform: skewY(var(--swew-angle)) translateY(var(--extrude-distance));
}

button.link {
    padding: 0;
    background-color: transparent;
    color: var(--accent-color);
}

button.link::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -0.1rem;
    left: 0;
    border-bottom: 0.125rem solid var(--accent-color);

    transform: scale3d(0, 1, 1);
    transform-origin: center right;
    transition: transform 600ms ease;
}

button.link:hover::after {
    transform: scale3d(1, 1, 1);
    transform-origin: center left;
}

button.CTA {
    background-color: var(--accent-color);
    color: var(--main-color);
}

button.default {
    background-color: var(--main-color);
    border: 2px solid var(--accent-color);
}

.container.light > button.CTA:hover {
    opacity: 0.9;
}

button.CTA.big {
    width: 100%;
}

.container:hover button {
    transform: translate(var(--extrude-distance), var(--extrude-distance));
}