button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    font-family: "DM Sans";

    padding: calc(1rem / 2) calc(1rem) calc(1rem / 2) calc(1rem);

    font-family: "DM Serif Display", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: all ease 600ms;

    position: relative;

    cursor: pointer;
}

.container {
    --swew-angle: 45deg;
    --extrude-distance: -0.25rem;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    width: 100%;
}

.container::after, .container::before {
    content: '';
    position: absolute;
    transition: all ease 600ms;
}

.container::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(-1 * var(--extrude-distance));
    background-color: rgba(35,35,35,1);
}

.container::before {
    top: 0;
    right: 0;
    width: calc(-1 * var(--extrude-distance));
    height: 100%;
    background-color: rgba(35,35,35,1);
}

.container:hover::after {
    left: 0.125rem;
    transform: skewX(var(--swew-angle)) translateX(var(--extrude-distance));
}

.container:hover::before {
    top: 0.125rem;
    transform: skewY(var(--swew-angle)) translateY(var(--extrude-distance));
}

button.link {
    padding: 0;
    background-color: transparent;
}

button.link::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -0.1rem;
    left: 0;
    border-bottom: 0.125rem solid var(--LL-black);

    transform: scale3d(0, 1, 1);
    transform-origin: center right;
    transition: transform 600ms ease;
}

button.link:hover::after {
    transform: scale3d(1, 1, 1);
    transform-origin: center left;
}

button.default {
    background-color: var(--LL-main);
    border: 0.125rem solid var(--LL-black);
}

button.CTA {
    background-color: var(--LL-black);
    color: var(--LL-main);
}

button.CTA:hover {
    background-color: rgba(35,35,35,0.9);
}

button.CTA.big {
    width: 100%;
}

.container:hover button {
    transform: translate(var(--extrude-distance), var(--extrude-distance));
}